<div class="pt-5 bg-cream footer">
    <div class="d-flex flex-md-column align-items-center">
        <div class="joinus-btn">
            <button class="btn light-btn d-flex flex-row justify-content-center">
                <div class="px-3">JOIN US</div>
                <div class="light-arrow-icon"></div>
            </button>
        </div>
        <div class="joinus-pic-box">
            <img class="pic w-95" src="assets/icons/joinus_pic.png">
        </div>
    </div>
    <div class="bg-coffee footer-nav d-flex flex-md-row flex-column justify-content-between p-5">
        <div class="">

            <div class="footer-text">
                <div><span class="copyright">&copy;</span> 2022 JACOBS DOUWE EGBERTS</div>
                <div>PRIVACY STATEMENT</div>
                <div>PROFESSIONAL SOLUTIONS</div>
                <div>CORPORATE WEBSITE</div>
            </div>
            <div><button class="btn cookies-btn px-3 mt-2">MANAGE COOKIES</button></div>

            
        </div>
        <div class="footer-text">
            <div class="pb-3">CAREERS AT JDE</div>
            <div class="d-flex flex-row justify-content-md-around justify-content-center">
                <div class="px-2"><img src="assets/icons/Icon awesome-linkedin.svg"></div>
                <div class="px-2"><img src="assets/icons/instagram-seeklogo.com.svg"></div>
            </div>
        </div>
    </div>    
</div>