<!-- IMAGES IN THIS DIV ARE LAZY LOADED -->

<div class="d-flex flex-column flex-md-row justify-content-center bg-pale card-height">
    <div class="order-0 order-md-2 align-self-center align-self-md-start">
        <img loading="lazy" src="assets/icons/tea_milkshutterstock_1159226260.png">
    </div>
    <div class="order-1 align-self-md-center">
        <div class="d-flex flex-column align-items-center">
            <div class="card-header">ABOUT US</div>
            <div class="card-sub-header">BREWED DIFFERENTLY</div>
            <div class="card-body-text text-center px-4 px-md-5 mx-md-2 py-3">
                For more than 265 years, we’ve been inspired by the belief that it’s amazing what can happen over a cup
                of coffee or tea. Our pioneering spirit continues to drive us into new ambitions, countries and markets,
                with a commitment to sustainability and inclusion at our heart.
            </div>
            <div class="pt-3">
                <button class="btn dark-btn d-flex flex-row justify-content-center">
                    <div class="px-3">READ MORE</div>
                    <div class="dark-arrow-icon"></div>
                </button>
            </div>
        </div>
    </div>
    <diV class="order-2 order-md-0 py-4 py-md-0 align-self-center">
        <img loading="lazy" src="assets/icons/home_about_woman_cup.png">
    </diV>
</div>