<div class="card-background d-flex align-items-center">
    <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="col-md-6 col-12 pb-4 pb-md-0">
            <img class="header-img" src="assets/icons/home_life_at_jde.png" loading="lazy">
        </div>
        <div class="col-md-6 col-10 d-flex flex-column justify-content-center align-self-end text-background">            
                <div class="card-header">LIFE AT JDE</div>
                <div class="card-sub-header">WE GROW, YOU GROW, COFFEE GROWS</div>
                <div class="card-body-text pt-4">
                    <div>
                        Here at JDE, we don’t blend in – we stand out. Passionate and determined, we all have the chance to make an impact in the world of coffee and tea through our work at JDE. Open, inclusive and agile, we champion collaboration and entrepreneurial spirit; creating opportunities to help you grow in your career.
                    </div>
                    <div class="pt-3">Committed to playing at our best, we constantly think bigger and move faster, rising to the challenges that matter most and celebrating the wins that count. We roll up our sleeves, pitch in and get our hands dirty to break new ground.
                    </div> 
                    <div class="pt-3">
                        Discover more about job opportunities at JDE, and what it’s like to be a part of our organisation.
                    </div>
                </div>
                <div class="py-3">
                    <button class="btn dark-btn d-flex flex-row justify-content-center">
                        <div class="px-3">DISCOVER MORE</div>
                        <div class="dark-arrow-icon"></div>
                    </button>
                </div>
        </div>
    </div>
</div>