<div class="">
    <div class="d-flex flex-column flex-md-row justify-content-md-between bg-cream">
        <div class="order-0 box">
            <img *ngIf="innerWidth <= 576" src="assets/icons/made_to_stand_out.png">
        </div>
        <div class="col-md-6 col-12 order-2 order-md-1">
            <img *ngIf="innerWidth > 576" src="assets/icons/made_to_stand_out_lg.png">
            <div class="text-box">
                <div class="banner-header">STAND OUT</div>
                <div class="banner-text">
                    At JDE, we’re Made to Stand Out. Everyday we are progressive in outlook, ambitious in nature,
                    resourceful in action and decisive in approach, bringing coffee and tea moments to everyone around
                    the
                    world.
                </div>
                <div class="pt-md-5 pb-md-5 pt-4 pb-5">
                    <button class="btn light-btn d-flex flex-row justify-content-center">
                        <div class="px-3">JOIN US</div>
                        <div class="light-arrow-icon"></div>
                    </button>
                </div>                
            </div>
        </div>
        <div class="col-md-6 col-12 order-1 order-md-2 d-flex justify-content-md-end">
            <div class=" ">
                <video class="video-box" autoplay loop>
                <source src="assets/videos/JDE_EarlyCareers_WebsiteBanner_700x700px.mp4">
            </video>
            </div>
        </div>
    </div>

</div>