<div class="bg-pale text-center card-padding">
    <div class="card-header">OUR BRANDS</div>
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex px-md-4 px-2">
            <img src="assets/icons/arrow_left_disabled.svg">
        </div>
        <div *ngIf="innerWidth > 650" class="d-flex px-4">
            <div *ngFor="let logo of logos">
                <img class="w-70 px-5" src="{{logo}}">
            </div>
        </div>
        <div *ngIf="innerWidth < 650" class="d-flex px-2">
            <div>
                <img class="w-70 px-2" src="assets/icons/logo_kenco.png">
            </div>
        </div>
        <div class="d-flex px-md-4 px-2">
            <img src="assets/icons/arrow_right.svg">
        </div>
    </div>
</div>