/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Gothic";
  src: local("Gothic"), url(assets/font/alternate-gothic-no3-d-regular.otf) format("truetype");
}

* {
  font-family: "Gothic";
}

@import "scss/background.scss";
@import "scss/buttons.scss";
@import "scss/font-styles.scss";
